language: ruby
rbenv:
- 2.5.3
addons:
  postgresql: 9.6
script:
- bundle exec rails db:{create,migrate} RAILS_ENV=test
- bundle exec rspec
deploy:
  provider: heroku
  api_key:
    secure: KEY
  on:
    repo: Carbon-Knight/carbon-knight-back-end
  run: rails db:migrate
